*{
    box-sizing: border-box;
}

#myForm {
    width: 300px;
    background-color: orange;
    padding: 20px;
}

.row {
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}